html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100%;
}

.list-panel {

}

.info-div {
    max-width: 300px;
}

.main {
    height: 100%;
}

#map {
    height: 100%;
}

.mainImg {
    height: 90px;
    width: 90px;
    border-radius: 4px;
}

/*.info*/